@page "/"

<PageTitle>Startsida</PageTitle>

<div>
    <p>
        <h3>Welcome to HamsterWars by K. Rygaard</h3><br />
        <b>Index</b> This page your on now, explaining the rest...<br />
        <b>Battle</b> Shows 2 hamsters that you can choose to "Like" and that's how they compete.<br />
        <b>Gallery</b> Display's all the hamsters, you can add a hamster by using the fields in the top of the page, you can delete a hamster by pressing the red X button i top right corner, if you click an image then you will go to details about the Hamster.<br />
        <b>Leaderboard</b> Display's top winners, loosers and gamers. You can choose in the top left corner of the page how many you want to display.<br />
        <b>History</b> Display's all the Battle's done, if the Hamster is deleted, the HamsterID will display in red instead of the name.<br />
    </p>
</div>

@{


}